* {
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 파이어폭스 초기화 */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.settingTitle {
  border-bottom: 1px solid #e4e4e4;
  background-color: #ffffff;
  margin-top: 30px;
  padding-bottom: 17px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.userProfileArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.userProfileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.userProfile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--main-skyblue);
}

.defaultProfile {
  width: 80px;
  height: 80px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.imgButton {
  position: absolute;
  top: 10%;
  color: var(--main-blue);
  font-size: xx-large;
  font-weight: 600;
}

.userName {
  left: 151px;
  margin-top: 15px;
  margin-bottom: 45px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.goalInfoArea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 23px 25px;
  border-bottom: 1px solid #d9d9d9;
}

.goalInfoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

.infoArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 23px 25px;
  border-bottom: 1px solid #d9d9d9;
}

.infoTitle {
  margin-right: 50px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}

.toggleTitle {
  display: flex;
  flex-direction: row;
  color: var(--main-blue, #346dff);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.arrow {
  width: 10px;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  right: 28px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 100px;
}

.dropdown div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: 100%;
}

.dropdown div:hover {
  background-color: #f1f1f1;
}

.active {
  background-color: var(--main-skyblue);
  color: white;
}

.infoToggle {
  color: var(--main-blue, #346dff);
  text-align: right;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  cursor: pointer;
}

.infoContent {
  width: 200px;
  height: 32px;
  color: var(--main-blue, #346dff);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  padding-right: 12px;
}

.inputStyle {
  width: 50px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 2px solid var(--main-lightblue, #edf3f9);
  text-align: center;
}

.goaltInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
}

.goalTitle {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.goalDetail {
  color: var(--main-skyblue, #a0bfed);
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.userDataDetail {
  padding: 9px;
  color: var(--main-blue);
  text-align: right;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.activityAccountArea {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 23px 25px;
  border-bottom: 1px solid #d9d9d9;
}

.activityToggle {
  color: var(--main-blue, #346dff);
  text-align: right;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  cursor: pointer;
}

.editButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
