
* {
    box-sizing: border-box;
  }


.uploadButton{
    color: var(--main-blue, #346DFF);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.uploadText{
    color: var(--main-blue, #346DFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}