
* {
  box-sizing: border-box;
}

.header {
  background: white;
  padding: 50px 0px 11px 0px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid #ddd;
}

.meal_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  width: 342px;
  margin: 19px 28px 20px 20px;
}

.meal_header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #000;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.meal_content {
  display: flex;
  flex-direction: row;
  padding-right: 13px;
  padding-top: 12px;
  width: 342px;
  height: 110px;
  border-radius: 7px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0.1, 0, 0, 0.1));
  background-size: cover;
  /* filter: brightness(0.8); */
  margin-bottom: 10px;
}

.meal_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.meal_time {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.meal_calories {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  padding-left: 10px; 
  padding-bottom: 10px;
  margin-top: 4px; 
  text-align: left;
}

.meal_deleteButton {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

