.wrapper {
  z-index: -1;
}

.date {
  display: flex;
  flex-direction: column;
  padding: 8px 20px 0 20px;
  height: auto;
  width: 390px;
  text-align: start;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  padding: 7px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.meal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 10px;
  width: 110px;
  height: 110px;
  border-radius: 7px;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  font-weight: 600;
}

.meal-img {
  border-radius: 7px;
  width: 110px;
  height: 110px;
  position: relative;
  overflow: hidden;
}

.meal-img > img {
  width: 110px;
  height: 110px;
}

.meal-imgcal {
  color: white;
  text-shadow:
    -1.5px 0 black,
    0 1.5px black,
    1.5px 0 black,
    0 -1.5px black;
}
.meal-noimgcal {
  color: black;
  text-shadow:
    -1.5px 0 white,
    0 1.5px white,
    1.5px 0 white,
    0 -1.5px white;
}
