.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px;
  height: 40px;
  padding: 1px;
  /* position: absolute; */
}

.header {
  display: flex;
  /* position: relative; */
}
