.title {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-text {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-line {
  width: 100%;
  height: 1px;
  background-color: var(--gray-lev-1);
}
