.tag {
  height:30px;
  width:fit-content;
  padding:5px 10px;
  margin:5px;
  text-align: center;
  align-items: center;
  display: flex;
  gap : 5px;
  border-radius: 15px;
  font-family: var(--basic-font), sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--main-blue);
  background-color: var(--main-lightblue);
}

.xbtn {
  align-items: center;
  width: 12px;
  height:12px;
}