.toggleButton {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  background-color: var(--main-lightblue);
  border-radius: 34px;
  transition: background-color 0.2s;
}

.toggleButton::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  bottom: 3px;
  background-color: var(--main-skyblue);
  border-radius: 50%;
  transition: left 0.2s;
}

.toggleButtonActive {
  background-color: var(--main-blue);
}

.toggleButtonActive::after {
  left: 16px;
}
