.navbar {
  width: 390px;
  height: 70px;
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.05));
  background: #FFFFFF;
  display: flex;
  padding: 0px 20px;
}

.navbar .item {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .item .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.navbar .item .text {
  margin-top: 5px;
  font-size: 12px;
}