.select_wrapper {
  text-align: left;
  margin-top: 15px;
  margin-left: 20px;
}

.week_wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.week {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.date_wrapper {
  display: flex;
  flex-direction: column;
  width: 28px;
  gap: 3px;
}
.day {
  width: 100%;
  height: 18px;
}
.date {
  display: flex;
  justify-content: center;
  position: relative;
}
.today {
  position: absolute;
  top: 0px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: var(--main-blue);
  color: #fff;
}
