.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 390px;
  height: 844px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  
}

.main {
  flex:1;
  overflow-y:auto; 
  overflow-x:hidden;
}

.header {
  display:flex;
  align-items: flex-end;
}
