body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 100px auto;
  width: 390px;
  height: 844px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* GLOBAL */

html {
  height: 100%;
}

body {
  font-family: var(--basic-font);
  font-size: var(--basic-font-size);
}

#root {
  height: 100%;
}

/* VARIABLES */

:root {
  /* FONT STYLE */
  --basic-font: Inter;
  /* FONT SIZE */
  --small-font-size: 10px;
  --medium-font-size: 13px;
  --large-font-size: 15px;
  /* COLOR */
  --main-blue: #346dff;
  --main-skyblue: #a0bfed;
  --main-lightblue: #edf3f9;
  --sem-great: #54d168;
  --sem-bad: #ff6a6a;
  --gray-lev-1: #e4e4e4;
}

.disabled {
  color: var(--mainskyblue);
  background-color: var(--main-lightblue);
}

.active {
  color: white;
  background-color: var(--mainblue);
}
