body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 100px auto;
  width: 390px;
  height: 844px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* GLOBAL */

html {
  height: 100%;
}

body {
  font-family: "Noto Sans KR";
  /* font-size: $basic-font-size;
  color: $black-color;
  height: 100%; */
}

#root {
  height: 100%;
}

/* VARIABLES */

:root {
  --main-blue: #346dff;
  --main-skyblue: #a0bfed;
  --main-lightblue: #edf3f9;
  --sem-great: #54d168;
  --sem-bad: #ff6a6a;
  --gray-lev-1: #e4e4e4;
}
