@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 100%;
  background-color: white;
}

.loaderOuter {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border-bottom: 1px solid #a0bfed;
  background: #a0bfed;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 55;
}

.loaderInner {
  position: absolute;
  margin: auto;
  top: 0%;
  bottom: 0;
  left: -160px;
  width: auto;
  height: 36px;
  color: #346dff;
  text-align: center;
  text-shadow: 0 0 20px #346dff;
  letter-spacing: 0.2em;
  font-size: 40px;
  z-index: 555555;
  animation: load 5s infinite linear;
  transform: translateY(-30%);
}

.title {
  position: absolute;
  margin: auto;
  top: 100px;
  left: 30px;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 0 20px #346dff;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 600;
  color: #346dff;
}

.titleSpan {
  display: none;
}

.title::after {
  animation: inline-block infinite;
  content: '';
}

@keyframes load {
  0% {
    left: 0px;
  }
  20% {
    left: 40px;
  }
  40% {
    left: 80px;
  }
  60% {
    left: 120px;
  }
  80% {
    left: 160px;
  }
  90% {
    left: 190px;
  }
  100% {
    left: 220px;
  }
}

@keyframes aiAnalyzeLoading {
  0% {
    content: '뀨봇 답변 중';
  }
  25% {
    content: '뀨봇 답변 중.';
  }
  50% {
    content: '뀨봇 답변 중..';
  }
  75% {
    content: '뀨봇 답변 중...';
  }
  100% {
    content: '뀨봇 답변 중';
  }
}

@keyframes addPhotoLoading {
  0% {
    content: '뀨봇 사진 분석 중';
  }
  25% {
    content: '뀨봇 사진 분석 중.';
  }
  50% {
    content: '뀨봇 사진 분석 중..';
  }
  75% {
    content: '뀨봇 사진 분석 중...';
  }
  100% {
    content: '뀨봇 사진 분석 중';
  }
}

@keyframes defaultLoading {
  0% {
    content: 'LOADING';
  }
  25% {
    content: 'LOADING.';
  }
  50% {
    content: 'LOADING..';
  }
  75% {
    content: 'LOADING...';
  }
  100% {
    content: 'LOADING';
  }
}

@keyframes aiAnalyzeTxt {
  0% {
    content: '뀨봇 답변 중';
  }
  25% {
    content: '뀨봇 답변 중.';
  }
  50% {
    content: '뀨봇 답변 중..';
  }
  75% {
    content: '뀨봇 답변 중...';
  }
  100% {
    content: '뀨봇 답변 완료';
  }
}

.aiAnalyzeLoading .title::after {
  animation: aiAnalyzeLoading 2s infinite;
}

.addPhotoLoading .title::after {
  animation: addPhotoLoading 3s infinite;
}

.defaultLoading .title::after {
  animation: defaultLoading 1.5s infinite;
}
